.ui.grid
  .column
    %h1 Resultado
.ui.grid
  .column
    %p Em ato público realizado na tarde de 30 de novembro de 2017 na Secretaria Estadual do Meio Ambiente (SEMA), situada à Avenida Pontes Vieira, 2666, Dionísio Torres, em Fortaleza/CE, na presença da Coordenação do Concurso, da presidência do Departamento do Ceará do Instituto de Arquitetos do Brasil (IAB-CE) e da imprensa local, o secretário do meio ambiente, Artur Bruno, anunciou o resultado do Concurso Público Nacional de Ideias de Urbanismo, Paisagismo e Arquitetura para o Trecho 01 do Parque Estadual do Cocó. Os projetos classificados em primeiro, segundo e terceiro lugares, bem como a menção honrosa, todos selecionados pela Comissão Julgadora do Concurso, foram identificados. Abaixo, a Ata dos Trabalhos da Comissão Julgadora do Concurso.

    %p= link_to "Baixar arquivo Ata", "https://drive.google.com/file/d/0BwhiUNGP8ebHYVRsYjhoZWZCZldmc1dmaUdIbmgzdmo5amVv/view", target: '_blank'

  .column
    - @winners.each do |p|
      .ui.segment.fluid
        .row
          %h2
            #{p.winner_type.humanize} -
            Inscrição nº #{p.participation.candidate_id} - Pasta nº #{p.participation_id} - #{p.participation.candidate.city.humanize}/#{p.participation.candidate.uf.to_s.mb_chars.upcase}
            %br/
          %h3
            #{p.participation.candidate.name.humanize}
          %br/
        .row
          - p.participation.participation_teams.each do |t|
            = "#{t.name.humanize} (#{t.job}), "
        .row
          %br/
          %table.ui.table.striped.celled
            %thead
              %tr
                %th{colspan: 3} As 03 (três) imagens representativas do projeto, em formato “JPG”
            %tbody
              %tr
                - p.participation.participation_documents.where(participation_type_id: 5).each_with_index do |a,i|
                  %td= link_to "Arquivo #{i + 1}", a.document_url, target: '_blank'
          %table.ui.table.striped.celled
            %thead
              %tr
                %th{colspan: 3} Pranchas
            %tbody
              - p.participation.participation_documents.where(participation_type_id: 1).each_with_index do |a,i|
                - if (i % 3) == 0
                  %tr
                %td= link_to "Arquivo #{i + 1}", a.document_url, target: '_blank'
