.ui.grid
  .column
    %h1 Participações
.ui.grid
  .column
    - @participations.each do |p|
      .ui.segment.fluid
        .row
          %h4
            Inscrição nº #{p.candidate_id} - Pasta nº #{p.id} - #{p.candidate.city.humanize}/#{p.candidate.uf.to_s.upcase}
            %br/
            #{p.candidate.name.humanize}
          %br/
        .row
          - p.participation_teams.each do |t|
            = "#{t.name.humanize} (#{t.job}), "
        .row
          %br
          %table.ui.table.striped.celled
            %thead
              %tr
                %th{colspan: 3} Arquivos
            %tbody
              %tr
                - p.participation_documents.where(participation_type_id: 5).each_with_index do |a,i|
                  %td= link_to "Arquivo #{i + 1}", a.document_url, target: '_blank'
          %table.ui.table.striped.celled
            %thead
              %tr
                %th Pranchas
            %tbody
              - p.participation_documents.where(participation_type_id: 1).each_with_index do |a,i|
                %tr
                  %td= link_to "Arquivo #{i + 1}", a.document_url, target: '_blank'
