!!! Strict
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %title Simples-Minimalistic Responsive Template
    :css
      /* Client-specific Styles */
      #outlook a {padding:0;} /* Force Outlook to provide a "view in browser" menu link. */
      body{width:100% !important; -webkit-text-size-adjust:100%; -ms-text-size-adjust:100%; margin:0; padding:0;}
      /* Prevent Webkit and Windows Mobile platforms from changing default font sizes, while not breaking desktop design. */
      .ExternalClass {width:100%;} /* Force Hotmail to display emails at full width */
      .ExternalClass, .ExternalClass p, .ExternalClass span, .ExternalClass font, .ExternalClass td, .ExternalClass div {line-height: 100%;} /* Force Hotmail to display normal line spacing.*/
      #backgroundTable {margin:0; padding:0; width:100% !important; line-height: 100% !important;}
      img {outline:none; text-decoration:none;border:none; -ms-interpolation-mode: bicubic;}
      a img {border:none;}
      .image_fix {display:block;}
      p {margin: 0px 0px !important;}
      table td {border-collapse: collapse;}
      table { border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt; }
      a {color: #0a8cce;text-decoration: none;text-decoration:none!important;}
      /*STYLES*/
      table[class=full] { width: 100%; clear: both; }
      /*IPAD STYLES*/
      @media only screen and (max-width: 640px) {
      a[href^="tel"], a[href^="sms"] {
      text-decoration: none;
      color: #0a8cce; /* or whatever your want */
      pointer-events: none;
      cursor: default;
      }
      .mobile_link a[href^="tel"], .mobile_link a[href^="sms"] {
      text-decoration: default;
      color: #0a8cce !important;
      pointer-events: auto;
      cursor: default;
      }
      table[class=devicewidth] {width: 440px!important;text-align:center!important;}
      table[class=devicewidthinner] {width: 420px!important;text-align:center!important;}
      img[class=banner] {width: 440px!important;height:220px!important;}
      img[class=colimg2] {width: 440px!important;height:220px!important;}
      
      
      }
      /*IPHONE STYLES*/
      @media only screen and (max-width: 480px) {
      a[href^="tel"], a[href^="sms"] {
      text-decoration: none;
      color: #0a8cce; /* or whatever your want */
      pointer-events: none;
      cursor: default;
      }
      .mobile_link a[href^="tel"], .mobile_link a[href^="sms"] {
      text-decoration: default;
      color: #0a8cce !important; 
      pointer-events: auto;
      cursor: default;
      }
      table[class=devicewidth] {width: 280px!important;text-align:center!important;}
      table[class=devicewidthinner] {width: 260px!important;text-align:center!important;}
      img[class=banner] {width: 280px!important;height:140px!important;}
      img[class=colimg2] {width: 280px!important;height:140px!important;}
      td[class=mobile-hide]{display:none!important;}
      td[class="padding-bottom25"]{padding-bottom:25px!important;}
        
      }
  %body
  
    %table#backgroundTable{:bgcolor => "#ffffff", :border => "0", :cellpadding => "0", :cellspacing => "0", "st-sortable" => "header", :width => "100%"}
      %tbody
        %tr
          %td
            %table.devicewidth{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :width => "600"}
              %tbody
                %tr
                  %td{:width => "100%"}
                    %table.devicewidth{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :width => "600"}
                      %tbody
                        / Spacing
                        %tr
                          %td{:height => "20", :style => "font-size:1px; line-height:1px; mso-line-height-rule: exactly;"}  
                        / Spacing
                        %tr
                          %td{:height => "20", :style => "font-size:1px; line-height:1px; mso-line-height-rule: exactly;"}  
                        / Spacing

    %table#backgroundTable{:bgcolor => "#ffffff", :border => "0", :cellpadding => "0", :cellspacing => "0", "st-sortable" => "seperator", :width => "100%"}
      %tbody
        %tr
          %td
            %table.devicewidth{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :width => "600"}
              %tbody
                %tr
                  %td{:align => "center", :height => "20", :style => "font-size:1px; line-height:1px;"}  
    / End of seperator
    / Start Full Text
    %table#backgroundTable{:bgcolor => "#ffffff", :border => "0", :cellpadding => "0", :cellspacing => "0", "st-sortable" => "full-text", :width => "100%"}
      %tbody
        %tr
          %td
            %table.devicewidth{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :width => "600"}
              %tbody
                %tr
                  %td{:width => "100%"}
                    %table.devicewidth{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :width => "600"}
                      %tbody
                        / Spacing
                        %tr
                          %td{:height => "20", :style => "font-size:1px; line-height:1px; mso-line-height-rule: exactly;"}  
                        / Spacing
                        %tr
                          %td
                            %table.devicewidthinner{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :width => "560"}
                              %tbody
                                / Title
                                %tr
                                  %td{"st-title" => "fulltext-heading", :style => "font-family: Helvetica, arial, sans-serif; font-size: 30px; color: #333333; text-align:left; line-height: 30px;"}
                                    %b Inscrição realizada com sucesso!
                                / End of Title
                                / spacing
                                %tr
                                  %td{:height => "20", :style => "font-size:1px; line-height:1px; mso-line-height-rule: exactly;", :width => "100%"}  
                                %tr
                                  %td
                                    %br/
                                %tr
                                  %td{"st-content" => "fulltext-content", :style => "font-family: Helvetica, arial, sans-serif; font-size: 16px; color: #666666; text-align:justify; line-height: 30px;"}
                                    Seu formulário de inscrição e sua documentação para participação no Concurso Público Nacional de ideias de Urbanismo, Paisagismo e Arquitetura para o Parque Estadual do Cocó foram recebidos com sucesso. Para acompanhar o andamento da sua inscrição, conforme especifica o Edital, o candidato deve acessar a Área Restrita do Candidato. 
 
                                / End of content

                                %tr
                                  %td
                                    %br/
                                %tr
                                  %td{"st-content" => "fulltext-content", :style => "font-family: Helvetica, arial, sans-serif; font-size: 16px; color: #666666; text-align:left; line-height: 30px;"}
                                    %p Para isso, é preciso que siga o seguinte passo a passo: 

                                

                                %tr
                                  %td
                                    %br/
                                %tr
                                  %td{"st-content" => "fulltext-content", :style => "font-family: Helvetica, arial, sans-serif; font-size: 16px; color: #666666; text-align:left; line-height: 30px;"}
                                    A. Clicar no menu “inscrições” do site oficial do certame;
                                %tr
                                  %td{"st-content" => "fulltext-content", :style => "font-family: Helvetica, arial, sans-serif; font-size: 16px; color: #666666; text-align:left; line-height: 30px;"}
                                    B. Clicar na opção “Minha inscrição”; 
                                %tr
                                  %td{"st-content" => "fulltext-content", :style => "font-family: Helvetica, arial, sans-serif; font-size: 16px; color: #666666; text-align:left; line-height: 30px;"}
                                    C. Informar: número de inscrição + senha de acesso. 


                        / Spacing
                        %tr
                          %td{:height => "20", :style => "font-size:1px; line-height:1px; mso-line-height-rule: exactly;"}  
                        / Spacing
  
    %table#backgroundTable{:bgcolor => "#ffffff", :border => "0", :cellpadding => "0", :cellspacing => "0", "st-sortable" => "seperator", :width => "100%"}
      %tbody
        %tr
          %td
            %table.devicewidth{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :width => "600"}
              %tbody
                %tr
                  %td{:align => "center", :height => "30", :style => "font-size:1px; line-height:1px;"}  
                %tr
                  %td{:align => "center", :bgcolor => "#d1d1d1", :height => "1", :style => "font-size:1px; line-height:1px;", :width => "550"}  
                %tr
                  %td{:align => "center", :height => "30", :style => "font-size:1px; line-height:1px;"}  
    / End of seperator
    / Start Full Text
    %table#backgroundTable{:bgcolor => "#ffffff", :border => "0", :cellpadding => "0", :cellspacing => "0", "st-sortable" => "full-text", :width => "100%"}
      %tbody
        %tr
          %td
            %table.devicewidth{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :width => "600"}
              %tbody
                %tr
                  %td{:width => "100%"}
                    %table.devicewidth{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :width => "600"}
                      %tbody
                        / Spacing
                        %tr
                          %td{:height => "20", :style => "font-size:1px; line-height:1px; mso-line-height-rule: exactly;"}
                        
                        %tr
                          %td
                            %table.devicewidthinner{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :width => "560"}
                              %tr
                                %td{"st-title" => "fulltext-heading", :style => "font-family: Helvetica, arial, sans-serif; font-size: 16px; color: #333333; text-align:center; line-height: 30px;"}
                                  Abaixo, segue um espelho da sua inscrição com todos os dados preenchidos e com a informação do seu número de inscrição: 
                       

                        %tr
                          %td
                            %br/
                        %tr
                          %td
                            %table.devicewidthinner{:align => "center", :border => "1", :cellpadding => "0", :cellspacing => "0", :width => "560"}
                              %tbody
                                %tr
                                  %th{"st-content" => "fulltext-content", :style => "font-family: Helvetica, arial, sans-serif; font-size: 12px; color: #666666; text-align:left; line-height: 30px; padding-left: 10px;"}
                                    Nº inscrição
                                  %th{"st-content" => "fulltext-content", :style => "font-family: Helvetica, arial, sans-serif; font-size: 12px; color: #666666; text-align:left; line-height: 30px; padding-left: 10px;"}
                                    Tipo de inscrição
                                  %th{"st-content" => "fulltext-content", :style => "font-family: Helvetica, arial, sans-serif; font-size: 12px; color: #666666; text-align:left; line-height: 30px; padding-left: 10px;"}
                                    Data de inscrição
                                  %th{"st-content" => "fulltext-content", :style => "font-family: Helvetica, arial, sans-serif; font-size: 12px; color: #666666; text-align:left; line-height: 30px; padding-left: 10px;"}
                                    Situação
                                  %th{"st-content" => "fulltext-content", :style => "font-family: Helvetica, arial, sans-serif; font-size: 12px; color: #666666; text-align:left; line-height: 30px; padding-left: 10px;"}
                                    Taxa
                                %tr
                                  %td{"st-content" => "fulltext-content", :style => "font-family: Helvetica, arial, sans-serif; font-size: 12px; color: #666666; text-align:left; line-height: 30px; padding-left: 10px;"}
                                    = @candidate.id        
                                  %td{"st-content" => "fulltext-content", :style => "font-family: Helvetica, arial, sans-serif; font-size: 12px; color: #666666; text-align:left; line-height: 30px; padding-left: 10px;"}
                                    Inscrição única
                                  %td{"st-content" => "fulltext-content", :style => "font-family: Helvetica, arial, sans-serif; font-size: 12px; color: #666666; text-align:left; line-height: 30px; padding-left: 10px;"}
                                    = @candidate.created_at.strftime('%d/%m/%Y às %H:%M')
                                  %td{"st-content" => "fulltext-content", :style => "font-family: Helvetica, arial, sans-serif; font-size: 12px; color: #666666; text-align:left; line-height: 30px; padding-left: 10px;"}
                                    = @candidate.status
                                  %td{"st-content" => "fulltext-content", :style => "font-family: Helvetica, arial, sans-serif; font-size: 12px; color: #666666; text-align:left; line-height: 30px; padding-left: 10px;"}
                                    Sem taxa
                            %br/
                            %table.devicewidthinner{:align => "center", :border => "1", :cellpadding => "0", :cellspacing => "0", :width => "560"}
                              %tbody
                                %tr
                                  %th{"st-content" => "fulltext-content", :style => "font-family: Helvetica, arial, sans-serif; font-size: 12px; color: #666666; text-align:left; line-height: 30px; padding-left: 10px;"}
                                    Nome
                                  %th{"st-content" => "fulltext-content", :style => "font-family: Helvetica, arial, sans-serif; font-size: 12px; color: #666666; text-align:left; line-height: 30px; padding-left: 10px;"}
                                    CPF
                                  %th{"st-content" => "fulltext-content", :style => "font-family: Helvetica, arial, sans-serif; font-size: 12px; color: #666666; text-align:left; line-height: 30px; padding-left: 10px;"}
                                    Data de nascimento
                                  %th{"st-content" => "fulltext-content", :style => "font-family: Helvetica, arial, sans-serif; font-size: 12px; color: #666666; text-align:left; line-height: 30px; padding-left: 10px;"}
                                    Sexo
                                %tr
                                  %td{"st-content" => "fulltext-content", :style => "font-family: Helvetica, arial, sans-serif; font-size: 12px; color: #666666; text-align:left; line-height: 30px; padding-left: 10px;"}
                                    = @candidate.name.upcase
                                  %td{"st-content" => "fulltext-content", :style => "font-family: Helvetica, arial, sans-serif; font-size: 12px; color: #666666; text-align:left; line-height: 30px; padding-left: 10px;"}
                                    = @candidate.cpf
                                  %td{"st-content" => "fulltext-content", :style => "font-family: Helvetica, arial, sans-serif; font-size: 12px; color: #666666; text-align:left; line-height: 30px; padding-left: 10px;"}
                                    = @candidate.born.strftime('%d/%m/%Y') if @candidate.born.present?
                                  %td{"st-content" => "fulltext-content", :style => "font-family: Helvetica, arial, sans-serif; font-size: 12px; color: #666666; text-align:left; line-height: 30px; padding-left: 10px;"}
                                    = @candidate.gender
                            %br/
                            %table.devicewidthinner{:align => "center", :border => "1", :cellpadding => "0", :cellspacing => "0", :width => "560"}
                              %tbody
                                %tr
                                  %th{"st-content" => "fulltext-content", :style => "font-family: Helvetica, arial, sans-serif; font-size: 12px; color: #666666; text-align:left; line-height: 30px; padding-left: 10px;"}
                                    Telefone
                                  %th{"st-content" => "fulltext-content", :style => "font-family: Helvetica, arial, sans-serif; font-size: 12px; color: #666666; text-align:left; line-height: 30px; padding-left: 10px;"}
                                    Celular
                                  %th{"st-content" => "fulltext-content", :style => "font-family: Helvetica, arial, sans-serif; font-size: 12px; color: #666666; text-align:left; line-height: 30px; padding-left: 10px;"}
                                    E-mail
                                %tr
                                  %td{"st-content" => "fulltext-content", :style => "font-family: Helvetica, arial, sans-serif; font-size: 12px; color: #666666; text-align:left; line-height: 30px; padding-left: 10px;"}
                                    = @candidate.telephone
                                  %td{"st-content" => "fulltext-content", :style => "font-family: Helvetica, arial, sans-serif; font-size: 12px; color: #666666; text-align:left; line-height: 30px; padding-left: 10px;"}
                                    = @candidate.celphone
                                  %td{"st-content" => "fulltext-content", :style => "font-family: Helvetica, arial, sans-serif; font-size: 12px; color: #666666; text-align:left; line-height: 30px; padding-left: 10px;"}
                                    = @candidate.email
                            %br/
                            %table.devicewidthinner{:align => "center", :border => "1", :cellpadding => "0", :cellspacing => "0", :width => "560"}
                              %tbody
                                %tr
                                  %th{"st-content" => "fulltext-content", :style => "font-family: Helvetica, arial, sans-serif; font-size: 12px; color: #666666; text-align:left; line-height: 30px; padding-left: 10px;"}
                                    Estado
                                  %th{"st-content" => "fulltext-content", :style => "font-family: Helvetica, arial, sans-serif; font-size: 12px; color: #666666; text-align:left; line-height: 30px; padding-left: 10px;"}
                                    Cidade
                                  %th{"st-content" => "fulltext-content", :style => "font-family: Helvetica, arial, sans-serif; font-size: 12px; color: #666666; text-align:left; line-height: 30px; padding-left: 10px;"}
                                    Endereço
                                  %th{"st-content" => "fulltext-content", :style => "font-family: Helvetica, arial, sans-serif; font-size: 12px; color: #666666; text-align:left; line-height: 30px; padding-left: 10px;"}
                                    CEP
                                %tr
                                  %td{"st-content" => "fulltext-content", :style => "font-family: Helvetica, arial, sans-serif; font-size: 12px; color: #666666; text-align:left; line-height: 30px; padding-left: 10px;"}
                                    = @candidate.uf.to_s.upcase
                                  %td{"st-content" => "fulltext-content", :style => "font-family: Helvetica, arial, sans-serif; font-size: 12px; color: #666666; text-align:left; line-height: 30px; padding-left: 10px;"}
                                    = @candidate.city
                                  %td{"st-content" => "fulltext-content", :style => "font-family: Helvetica, arial, sans-serif; font-size: 12px; color: #666666; text-align:left; line-height: 30px; padding-left: 10px;"}
                                    = @candidate.address
                                  %td{"st-content" => "fulltext-content", :style => "font-family: Helvetica, arial, sans-serif; font-size: 12px; color: #666666; text-align:left; line-height: 30px; padding-left: 10px;"}
                                    = @candidate.cep
                            %br/
                            %table.devicewidthinner{:align => "center", :border => "1", :cellpadding => "0", :cellspacing => "0", :width => "560"}
                              %tbody
                                %tr
                                  %th{"st-content" => "fulltext-content", :style => "font-family: Helvetica, arial, sans-serif; font-size: 12px; color: #666666; text-align:left; line-height: 30px; padding-left: 10px;"}
                                    Nome Fantasia
                                  %th{"st-content" => "fulltext-content", :style => "font-family: Helvetica, arial, sans-serif; font-size: 12px; color: #666666; text-align:left; line-height: 30px; padding-left: 10px;"}
                                    Razão Social
                                  %th{"st-content" => "fulltext-content", :style => "font-family: Helvetica, arial, sans-serif; font-size: 12px; color: #666666; text-align:left; line-height: 30px; padding-left: 10px;"}
                                    CNPJ
                                %tr
                                  %td{"st-content" => "fulltext-content", :style => "font-family: Helvetica, arial, sans-serif; font-size: 12px; color: #666666; text-align:left; line-height: 30px; padding-left: 10px;"}
                                    = @candidate.fantasy_name
                                  %td{"st-content" => "fulltext-content", :style => "font-family: Helvetica, arial, sans-serif; font-size: 12px; color: #666666; text-align:left; line-height: 30px; padding-left: 10px;"}
                                    = @candidate.social_reason
                                  %td{"st-content" => "fulltext-content", :style => "font-family: Helvetica, arial, sans-serif; font-size: 12px; color: #666666; text-align:left; line-height: 30px; padding-left: 10px;"}
                                    = @candidate.cnpj
                            %br/
                            %table.devicewidthinner{:align => "center", :border => "1", :cellpadding => "0", :cellspacing => "0", :width => "560"}
                              %tbody
                                %tr
                                  %th{"st-content" => "fulltext-content", :style => "font-family: Helvetica, arial, sans-serif; font-size: 12px; color: #666666; text-align:left; line-height: 30px; padding-left: 10px;"}
                                    Documento 1
                                  %th{"st-content" => "fulltext-content", :style => "font-family: Helvetica, arial, sans-serif; font-size: 12px; color: #666666; text-align:left; line-height: 30px; padding-left: 10px;"}
                                    Nº de registro
                                %tr
                                  %td{"st-content" => "fulltext-content", :style => "font-family: Helvetica, arial, sans-serif; font-size: 12px; color: #666666; text-align:left; line-height: 30px; padding-left: 10px;"}
                                    = link_to "Visualizar", @candidate.document_one_url, target: '_blank'
                                  %td{"st-content" => "fulltext-content", :style => "font-family: Helvetica, arial, sans-serif; font-size: 12px; color: #666666; text-align:left; line-height: 30px; padding-left: 10px;"}
                                    = @candidate.document_number
                        %tr
                          %td{:height => "20", :style => "font-size:1px; line-height:1px; mso-line-height-rule: exactly;"}  
                        / Spacing
    / end of full text
    / Start of seperator
    %table#backgroundTable{:bgcolor => "#ffffff", :border => "0", :cellpadding => "0", :cellspacing => "0", "st-sortable" => "seperator", :width => "100%"}
      %tbody
        %tr
          %td
            %table.devicewidth{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :width => "600"}
              %tbody
                %tr
                  %td{:align => "center", :height => "30", :style => "font-size:1px; line-height:1px;"}  
                %tr
                  %td{:align => "center", :bgcolor => "#d1d1d1", :height => "1", :style => "font-size:1px; line-height:1px;", :width => "550"}  
                %tr
                  %td{:align => "center", :height => "30", :style => "font-size:1px; line-height:1px;"}  
