!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %link{rel: "shortcut icon", type:"image/png", href:"/favicon.png"}
    %title Concurso Parque do Cocó
    = stylesheet_link_tag    "site/application", media: "all"
    = javascript_include_tag "site/application"
    = csrf_meta_tags
    / Facebook Pixel Code
    :javascript
      !function(f,b,e,v,n,t,s)
      {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
      n.callMethod.apply(n,arguments):n.queue.push(arguments)};
      if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
      n.queue=[];t=b.createElement(e);t.async=!0;
      t.src=v;s=b.getElementsByTagName(e)[0];
      s.parentNode.insertBefore(t,s)}(window, document,'script',
      'https://connect.facebook.net/en_US/fbevents.js');
      fbq('init', '119885638478771');
      fbq('track', 'PageView');
    %noscript
      %img{:height => "1", :src => "https://www.facebook.com/tr?id=119885638478771&ev=PageView&noscript=1", :style => "display:none", :width => "1"}/
    / End Facebook Pixel Code
  %body
    = render 'layouts/site/header'
    .ui.grid.container
      .three.wide.column
        = render 'layouts/site/nav'
      .one.wide.column
      .twelve.wide.column
        = yield

    .ui.grid.container
      .four.wide.column
      .twelve.wide.column
        = image_tag '/footer.png', width: '100%'