= simple_form_for [@project, @nav] do |f|
  = f.input :label, input_html: { placeholder: "Informe o nome do menu"}
  = f.input :page_type, collection: Nav.page_types.map { |k,v| [k.humanize, k]}, as: :select, include_blank: false
  = f.input :url, input_html: { placeholder: "Informe o nome do menu"}
  = f.association :page, include_blank: "Selecione..."
  = f.input :order
  = f.input :open_new_page, as: :select, include_blank: false
  = f.input :active, as: :select, include_blank: false
  .ui.header.hidden
  .field
    = f.button :submit, class: 'ui button green'
    = link_to t(:back), project_pages_path(@project), class: 'ui button' 