!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Site
    %link{rel: "shortcut icon" type:"image/png" href:"/favicon.png"}
    = stylesheet_link_tag    "manager/application", media: "all"
    = javascript_include_tag "manager/application"
    = csrf_meta_tags
  %body
    .ui.grid.container
      = render 'layouts/manager/header'
    .ui.grid.container
      = yield
    