!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Site
    = stylesheet_link_tag    "manager/application", media: "all"
    = javascript_include_tag "manager/application"
    = csrf_meta_tags
  %body{style: 'background-color: #f1f1f1'}
    .ui.grid.container
      = render 'layouts/manager/project_header'
    .ui.grid.container
      .three.wide.column
        = render 'layouts/manager/project_nav'
      .thirteen.wide.column
        .ui.segment
          - flash.each do |key, value|
            .ui.message{class: key}
              = value
          = yield
    .ui.grid.container