.ui.grid
  .row
    .column
      %h2
        Área restrita
      %p
        = link_to "Editar minha inscrição", edit_project_restrict_candidate_path(@project, current_candidate), class: 'ui button blue tiny' if current_candidate.processando?
        - if current_candidate.id == 1 || ((Date.current >= Date.parse('2017-11-10') && Date.current <= Date.parse('2017-11-14')) && current_candidate.homologado?)
          - if current_candidate.participation.present? && current_candidate.participation.closed
            = link_to "Visualizar meu projeto enviado", project_restrict_participations_path(@project), class: 'ui button blue tiny'
          - else
            = link_to "Enviar meu projeto", project_restrict_participations_path(@project), class: 'ui button green tiny'
        = link_to "Finalizar sessão", logout_project_restrict_sessions_path(@project), class: 'ui button gray tiny', data: { method: :delete }
  .row
    .column
      %table.ui.celled.table.striped
        %thead
          %tr
            %th.collapsing Situação do envio do projeto
            %th.collapsing Data/Hora
        %tbody
          - if current_candidate.participation.present?
            %tr
              %td= current_candidate.participation.closed ? 'Enviado com sucesso' : 'Inciado, não finalizado'
              %td= current_candidate.participation.updated_at.strftime("%d/%m/%Y %H:%M")
          - else
            %tr
              %td Não enviado
              %td Sem informação

  .row
    .column
      %table.ui.celled.table.striped
        %thead
          %tr
            %th.collapsing Nº de inscrição
            %th Data
            %th Situação
            %th Nome Completo
            %th.collapsing CPF
        %tbody
          %tr
            %td= current_candidate.id
            %td= current_candidate.created_at.strftime("%d/%m/%Y às %H:%M")
            %td= current_candidate.status
            %td= current_candidate.name
            %td= current_candidate.cpf

  .row
    .column
      %table.ui.celled.table.striped
        %thead
          %tr
            %th Data de nascimento
            %th Sexo
            %th E-mail
            %th Telefone
            %th Celular
        %tbody
          %tr
            %td= current_candidate.born.strftime("%d/%m/%Y")
            %td= current_candidate.gender
            %td= current_candidate.email
            %td= current_candidate.telephone
            %td= current_candidate.celphone


  .row
    .column
      %table.ui.celled.table.striped
        %thead
          %tr
            %th CEP
            %th.collapsing Estado
            %th Cidade
            %th Endereço
        %tbody
          %tr
            %td.collapsing= current_candidate.cep
            %td= current_candidate.uf.upcase
            %td= current_candidate.city
            %td= current_candidate.address

  .row
    .column
      %table.ui.celled.table.striped
        %thead
          %tr
            %th.collapsing CNPJ
            %th Nome Fantasia
            %th Razão Social
        %tbody
          %tr
            %td= current_candidate.cnpj
            %td= current_candidate.fantasy_name
            %td= current_candidate.social_reason

  .row
    .column
      %table.ui.celled.table.striped
        %thead
          %tr
            %th Arquivo 1
            %th Nº do registro
        %tbody
          %tr
            %td= link_to "Visualizar", current_candidate.document_one_url, target: '_blank'
            %td= current_candidate.document_number


  .row
    .column
      %table.ui.celled.table.striped
        %thead
          %tr
            %th Observação da coordenação
        %tbody
          %tr
            %td= current_candidate.observation ||= "Nenhuma observação"


  .row
    .column
      %table.ui.celled.table.striped
        %thead
          %tr
            %th.collapsing Nº de controle
            %th Nome
            %th CPF
            %th Data/Hora
        %tbody
          - if ::QuestionTwo.where(project_id: @project.id, candidate_id: current_candidate.id).present?
            - ::QuestionTwo.where(project_id: @project.id, candidate_id: current_candidate.id).each do |ind|
              %tr
                %td= ::QuestionTwo.where(project_id: @project.id).order(created_at: :asc).map(&:candidate_id).find_index(current_candidate.id) + 1
                %td= ind.name
                %td= ind.cpf
                %td= ind.created_at.strftime("%d/%m/%Y %H:%M")
          - else
            %tr
              %td{colspan: 4}
                %i
                  Você ainda não realizou a indicação do membro.
                  #{link_to "Clique aqui ", "/site/1/formulario_indicacao", target: '_blank'}
                  para realizar!
